<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - silat</title>

    <link rel="icon" type="image/svg+xml" href="~/logo.svg">
    @* <link rel="icon" type="image/png" href="~/icono.png">*@

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/ee2769d81d.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">

    @await Html.PartialAsync(partialViewName: "_Header")

    <div class="container mx-auto px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto border-top bg-light text-center text-muted py-3">
        <div class="container">
            &copy; 2025 - silat - <a asp-area="" asp-controller="Home" asp-action="Privacy"
                class="text-muted">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>